<div class="calendar-page">
  <h2>Events Calendar</h2>

<full-calendar [options]="calendarOptions"></full-calendar>

  <div class="event-details" *ngIf="selectedEvent">
    <h3>Event Details</h3>
    <p><strong>Title:</strong> {{ selectedEvent?.title }}</p>
    <p><strong>Date:</strong> {{ selectedEvent?.eventDate }}</p>
    <p><strong>Location:</strong> {{ selectedEvent?.location }}</p>
    <p><strong>Participants:</strong> {{ selectedEvent?.participants }}</p>
    <p><strong>Status:</strong> {{ selectedEvent?.status }}</p>
    <p><strong>Type:</strong> {{ selectedEvent?.typeLabel }}</p>
    <p><strong>Created At:</strong> {{ selectedEvent.createdAt }}</p>
  </div>
</div>